# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
*.o
*.o.d
cscope.*
/GPATH
/GRTAGS
/GTAGS
# Library archives
*.a
# Emacs backup
*~
# Statistics from builds
size.report
# Build system output
.obj
*.elf
bin
*.bak
Kernel/fuzix.srec
Images/blitter09/
Library/libs/readline6809.lib
Standalone/elf2flt
Standalone/fsck400
Standalone/mkfs400
Standalone/mkftl
Standalone/sethint
Kernel/fuzix.exo
Kernel/fuzix.decb
Kernel/fuzix.decb.bin
Kernel/fuzix.ma2
