cursesgames/invaders
flashrom/flashrom
games/advint
games/cowsay
games/fortune-gen-linux
games/fortune.dat
games/hamurabi
games/startrek
games/taylormade
games/z1
games/z2
games/z3
games/z4
games/z5
games/z8
MWC/cmd/asz80/as
MWC/cmd/asz80/nm
MWC/cmd/cron
MWC/cmd/du
MWC/cmd/ed
MWC/cmd/make
MWC/cmd/sort
SmallC/scc6801
SmallC/scc6809
SmallC/scc8080
SmallC/sccz80
V7/cmd/clear
V7/cmd/ed
V7/cmd/pg
V7/cmd/sh/fsh
V7/cmd/sort
V7/cmd/tty
netd/dig
netd/echoping
netd/htget
netd/httpd
netd/ifconfig
netd/netd-coconic
netd/netd-lwwire
netd/ntpdate
netd/ping
netd/telnet
netd/tinyirc
plato/plato
ue/ue
ue/ue.ansi
ue/ue.fuzix
